a{
	text-decoration:none !important;
}
.headerWrapNew{
	width:100%;
	background-color:#2a2e37;
	margin-bottom:30px;

}
.headerNew{
	max-width:1000px;
	margin:0px auto;
}
.img1Length{
	width:32px;
	height:auto;
}
.logoLength{
	display:block;
	text-decoration:none;
	padding:10px;
	font-size:15px;
	color:white;
	font-weight:bold;
}
.logoLength:hover{
	color:white;
}