a{
	text-decoration:none !important;
}
.headerWrapNew{
	width:100%;
	background: #bdc3c7;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin-bottom:30px;

}
.headerNew{
	max-width:1000px;
	margin:0px auto;
}
.img1Length{
	width:32px;
	height:auto;
}
.logoLength{
	display:block;
	text-decoration:none;
	padding:10px;
	font-size:15px;
	color:white;
	font-weight:bold;
}
.logoLength:hover{
	color:white;
}