@media screen and (max-width: 500px){ /* это стили, которые применяюся на экранах с разрешением меньше 500 пикселей */
	.desktop{	
		display: none; /* скрываем все элементы которые отображаются на больших экранах */
	}
	.mobile{
		display: block; /* показываем все элементы, которые мы сделали для мобильной версии */
	}
}
@media screen and (min-width: 499px){ /* это стили, которые применяюся на экранах с разрешением больше 500 пикселей */
	.desktop{	
		display: block; /* показываем все элементы, которые мы сделали для  крупных экранов */
	}
	.mobile{
		display: none; /* скрываем все элементы которые отображаются на мобильных экранах */
	}
}
.customButton{
	margin:0 0 5px 0; /* марджин-отступ, 4 стороны, сверху, справа, снизу, слева, мы делаем отступ 5 пикселей внизу между кнопками. Применяется на любых экранах, но используется только на боьших экранах(масштабирование(красивые кнопки друг над другом с отступами)) */
}
